/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
}

.yt-logo {
  color: red;
  font-size: 32px;
}

.search-input {
  width: 30%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #999;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: bold;
}

.profile-icon {
  font-size: 30px;
  color: #555;
}

.logout-btn {
  padding: 6px 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 200px;
  top: 60px;
  left: -200px;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px 0;
  transition: 0.3s;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar li:hover {
  background: #eee;
}

/* VIDEO GRID */
.video-container {
  display: grid;
  grid-template-columns: auto;
  padding: 80px 20px;
  margin-left: 0;
  transition: 0.3s;
}

.video-container.shift {
  margin-left: 220px;
}

.video-card {
  background: white;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 8px;
  width: 380px;
}

.video-card iframe {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px #aaa;
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin-bottom: 15px;
  padding: 10px;
}

.login-box button {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
